@import "@styles/mixins";

.card {
  border-radius: var(--border-radius);
  background-color: var(--color-light);
  position: relative;
  min-height: 328px;
}

.image {
  border-radius: var(--border-radius);
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.description {
  padding: 15px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
}

.title {
  font-size: 16px;
  color: var(--color-additional);
}

.body {
  @include flex-between;
  padding-block: 15px;

  svg {
    cursor: pointer;
    transition: all 0.3s;
  }
}

.rating {
  @include square(50px);
  @include flex-center;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--color-accent);
  color: var(--color-light);
  font-weight: 700;
  border-radius: 50%;
}
