@import '@styles/mixins';

.footer {
    @include flex-between;
    padding-block: 30px;
    margin-bottom: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);

    @media (max-width: 700px) {
        flex-direction: column;
        row-gap: 20px;
    }
}

.list {
    @include flex-center;
    -moz-column-gap: 15px;
    column-gap: 15px;
}

.link {

    svg {
        fill: var(--color-light);
        width: 25px;
        transition: all 0.3s;
    }

    &:hover {

        svg {
            fill: var(--color-accent);
        }
    }
}