.search {
    position: relative;
}

.icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.backspaceIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.input {
    border: none;
    background-color: var(--color-additional);
    color: var(--color-light);
    border-radius: var(--border-radius);
    padding: 10px 40px;
    width: clamp(15.625rem, 14.375rem + 6.25vw, 21.875rem);

    &:focus {
        outline: 1px solid var(--color-accent);
    }
}